.northern-lights {
    position: relative;
    z-index: 0
}

.northern-lights .container {
    position: relative
}

.northern-lights .aurora-borealis {
    position: absolute
}

.northern-lights--right .aurora-borealis:first-child {
    right: 12%
}

.northern-lights--right .aurora-borealis:last-child {
    right: 5%
}

.northern-lights--left .aurora-borealis:first-child {
    left: 12%
}

.northern-lights--left .aurora-borealis:last-child {
    left: 5%
}

.aurora-borealis {
    width: 50px;
    height: 50px;
    position: static;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) rotate(-53.34deg)
    }
}

.aurora-borealis--big::before {
    width: 825px;
    height: 50px;
    filter: blur(35px);
    border-radius: 100%;
    opacity: .07
}

.aurora-borealis--middle::before {
    width: 602px;
    height: 73px;
    filter: blur(35px);
    border-radius: 602px;
    opacity: .09
}

.aurora-borealis--thin::before {
    width: 582px;
    height: 11px;
    filter: blur(12px);
    border-radius: 50%;
    opacity: .2
}

.aurora-borealis--blue::before {
    background: #1e88e5
}

.aurora-borealis--green::before {
    background: #43a047
}

.aurora-borealis--pink::before {
    background: #ab60b8
}

.aurora-borealis--white::before {
    background: #fff
}
