.logo-preview {
    margin: 20px 0;
    border-radius: 0.25rem;
    padding: 1.5rem;

    .distorted {
        width: 80%;
        height: 60px;
        margin: 0 auto !important;
    }

    &.gradient {
        background: linear-gradient(115deg, #43a047 0%, #1e88e5 100%);
    }

    &.dark-gray {
        background: #455a64;
    }

    &.gray {
        background: #eceff1;
    }

    &.transparent {
        background-color: #eceff1;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("/images/logos/sheet-bg.svg");
        background-position: 0 0, 0 0;
        background-size: auto, 10px;
    }

    &.dark {
        background: #263238;
        h4,
        p,
        span,
        a {
            color: #fff;
        }
    }

    &.badges {
        display: grid;
    }

    &.photo {
        position: relative;
        background-image: url("/images/logos/examples/unsplash_KWKJ9xDJX6s.png");
        background-repeat: no-repeat;
        background-size: cover;

        &--busy {
            background-image: url("/images/logos/examples/unsplash_fotKKqWNMQ4.png");
        }

        &:not(.photo--busy) img {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            max-width: 150px;
        }
    }

    &.white {
        border: 1px solid #dee2e6;
        background: #fff;
        color: rgba(40, 44, 52, 0.87);
    }

    &.color-preview {
        border-radius: 0.25rem;
    }

    &.logos-2,
    &.logos-4 {
        display: grid;
        grid-gap: 48px;
        justify-content: center;
        align-items: center;
        justify-items: center;

        &.logos-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.logos-4 {
            grid-template-columns: repeat(2, 1fr);

            @media (min-width: 768px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

.logo-application {
    .logo-preview {
        display: flex;
        align-items: center;
        min-height: 222px;
    }
}

.square-preview {
    height: 0;
    padding: 0 0 100%;
    position: relative;

    img {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon-preview {
    position: relative;

    .show-code {
        opacity: 0;
        position: absolute;
        right: 16px;
        top: 8px;
        z-index: 1;
        transition: opacity 0.2s ease;
        background: var(--sl-color-accent);
        color: var(--sl-color-black);
        border-radius: 0.25rem;
    }

    &:hover .show-code {
        opacity: 1;
    }

    &.white {
        background: rgba(236, 239, 241, 0.54);
    }

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 48px;
        transform: translate(-50%, -50%);
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.75rem + 1.25rem);
    padding: .625rem 1rem;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(38, 50, 56, 0.12);
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
    height: auto;
}

.form-control[readonly] {
    background-color: var(--sl-color-gray-6);
    opacity: 1;
    color: var(--sl-color-white);
}

.all-logos__item--full {
    img {
        width: 214px;

        @media (max-width: 767.98px) {
            width: 200px;
        }
    }
}

.all-logos__item--full-stacked {
    img {
        width: 170px;

        @media (max-width: 767.98px) {
            width: 160px;
        }
    }
}

.all-logos__item--symbol {
    img {
        width: 160px;

        @media (max-width: 767.98px) {
            width: 120px;
        }
    }
}

.examples-spacing {
    .logo-preview {
        img {
            max-height: 222px;
            width: auto;
        }
    }
}

.dos-donts-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .item {
        margin: 0.5rem 0;
        position: relative;
        padding-left: 34px;

        &:before {
            display: inline-block;
            width: 24px;
            height: 24px;
            content: "";
            background-image: url("/images/logos/examples/do.svg");
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 0.5rem;
            position: absolute;
            left: 0;
            top: 2px;
            overflow: hidden;
        }

        &--dont:before {
            background-image: url("/images/logos/examples/dont.svg");
        }
    }
}

.color-usage {
    padding: 0.625rem;
    background: transparent;
}
