---
import DefaultFallbackContentNotice from '@astrojs/starlight/components/FallbackContentNotice.astro';
---

<div class="fallback-notice-wrap sl-flex">
  <DefaultFallbackContentNotice />
  <a
    class="translate-link"
    href="https://crowdin.com/project/crowdin-support"
    target="_blank"
    rel="noopener noreferrer"
  >
    {Astro.locals.t('translateInCrowdin')}
  </a>
</div>

<style>
  .fallback-notice-wrap {
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .translate-link {
    color: var(--sl-color-text-accent);
    font-size: var(--sl-text-body-sm);
  }
</style>
