---
import Default from '@astrojs/starlight/components/Footer.astro';
import Feedback from '~/components/Feedback.astro';

const isHomepage = Astro.props.slug === '';
const year = new Date().getFullYear();

const showFeedback = !isHomepage &&
    !['404', 'iframe/privacy-policy', 'iframe/terms'].includes(Astro.props.slug);
---

<style>
    footer a {
        color: var(--crowdin-text-muted);

        &:hover {
            color: var(--crowdin-body-color);
        }
    }
</style>

{isHomepage ? (
    <hr class="h-px mt-12 mb-8 bg-gray-200 border-0 dark:bg-gray-700">
    <footer class="sl-flex">
        <div class="flex flex-col gap-6 text-sm sm:flex-row sm:items-center">
            <p class="sm:mr-auto">Crowdin &copy; {year}</p>
            <div class="grid grid-cols-2 gap-4 sm:flex sm:gap-6">
                <a class="no-underline" href="https://status.crowdin.com/" target="_blank">Status</a>
                <a class="no-underline" href="/terms/">Terms of Service</a>
                <a class="no-underline" href="/privacy-policy/">Privacy Policy</a>
                <a class="no-underline" href="/cookies/">Cookies Statement</a>
                <a class="no-underline" href="https://crowdin.com/page/security">Security</a>
            </div>
        </div>
    </footer>
    ) : (
        <Default {...Astro.props as any}><slot /></Default>
    )
}

{showFeedback && (
    <div class="w-full">
        <div class="mx-auto w-1/2">
            <Feedback />
        </div>
    </div>
)}
