---
import Default from '@astrojs/starlight/components/Footer.astro';
const isHomepage = Astro.props.slug === '';
const year = new Date().getFullYear()
---

<style>
    footer a {
        color: var(--crowdin-text-muted);

        &:hover {
            color: var(--crowdin-body-color);
        }
    }
</style>

{
isHomepage ? (
    <hr class="h-px mt-12 mb-8 bg-gray-200 border-0 dark:bg-gray-700">
    <footer class="sl-flex">
        <p class="flex gap-6 text-sm">
            <span>Crowdin &copy; {year}</span>
            <a class="no-underline" href="https://status.crowdin.com/" target="_blank">Status</a>
            <a class="no-underline" href="/terms/">Terms of Service</a>
            <a class="no-underline" href="/privacy-policy/">Privacy Policy</a>
            <a class="no-underline" href="/cookies/">Cookies Statement</a>
            <a class="no-underline" href="https://crowdin.com/page/security">Security</a>
        </p>
    </footer>
    ) : (
    <Default {...Astro.props as any}><slot /></Default>
    )
}
