---
import { LinkButton } from '@astrojs/starlight/components';

const { title, description, buttonText, buttonLink } = Astro.props;
---

<div class="help-banner bg-gray-100 dark:bg-gray-700 rounded-lg bg-primary bg-cover bg-no-repeat p-8 md:p-12 lg:p-16">
    <div class="content text-center md:text-left">
        <p class="mb-2 text-2xl md:text-3xl font-semibold">{title}</p>
        <p class="mb-6 max-w-96">
            {description}
        </p>

        <LinkButton href={buttonLink} class="!rounded-lg !py-3" icon="external" target="_blank">
            {buttonText}
        </LinkButton>
    </div>
</div>

<style>
    .help-banner {
        background-image: url('/help-banner-bg.png');
        background-size: 947px 613px;
        background-position: 400px top;
    }
    .help-banner .btn-primary {
      &:hover {
        background: rgba(var(--crowdin-primaries-color), .1);
        color: var(--sl-color-text-accent);
      }
    }
</style>
