---
const { title, open } = Astro.props;
---

<details {open} class="bg-gray-200 dark:bg-gray-700 p-4 mt-4">
    <summary>
        <strong class="text-base font-semibold">{title}</strong>
    </summary>
    <div class="px-2">
        <slot />
    </div>
</details>
