---
const { title, open } = Astro.props;
---

<details {open} class="details-card rounded-lg bg-neutral-50 dark:bg-neutral-800 p-2 mt-4">
    <summary>
        <strong class="text-base">{title}</strong>
    </summary>
    <div class="px-2">
        <slot />
    </div>
</details>
