---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SocialIcons.astro';
import { Icon } from 'astro-icon/components';
---

<Default {...Astro.props}><slot /></Default>
<a href="https://podcasts.apple.com/us/podcast/agile-localization/id1785636416" rel="me" class="sl-flex">
    <span class="sr-only">Apple Podcast</span>
    <Icon name="apple-podcast" />
</a>
<a href="https://open.spotify.com/show/2Vv42MtK93aLTzvEd77Om5" rel="me" class="sl-flex">
    <span class="sr-only">Spotify Podcast</span>
    <Icon name="spotify-podcast" />
</a>

<style>
    a {
        color: var(--sl-color-text-accent);
        padding: 0.5em;
        margin: -0.5em;
    }
    a:hover {
        opacity: 0.66;
    }
</style>
