/* Dark mode colors. */
:root {
    /* crowdin colors */
    --crowdin-blacks: 0, 0, 0;
    --crowdin-whites: 255, 255, 255;
    --crowdin-primaries-color: 78, 183, 83;
    --crowdin-typeface-color: 255, 255, 255;
    --crowdin-cards-color: 255, 255, 255;
    --crowdin-gray-005: rgba(var(--crowdin-typeface-color), 0.05);
    --crowdin-gray-01: rgba(var(--crowdin-typeface-color), 0.12);
    --crowdin-level-0-bg: #16191d;
    --crowdin-level-1-bg: #21252b;
    --crowdin-level-2-bg: #2c3139;
    --crowdin-title-color: rgba(var(--crowdin-typeface-color), 1);
    --crowdin-body-color: rgba(var(--crowdin-typeface-color), .87);
    --crowdin-text-muted: rgba(var(--crowdin-typeface-color), .54);
    /* starlight */
    /* Increase the default (45rem) content width for large screens*/
    --sl-content-width: 50rem;
    --sl-hue-blue: 207;
    --sl-nav-gap: .5rem;
    --sl-color-text: var(--crowdin-body-color);
    --sl-color-accent: rgba(var(--crowdin-primaries-color), 1);
    --sl-color-text-accent: rgba(var(--crowdin-primaries-color), 1);
    --sl-color-bg: var(--crowdin-level-0-bg);
    --sl-color-bg-nav: var(--crowdin-level-2-bg);
    --sl-color-bg-sidebar: var(--crowdin-level-1-bg);
}

/* Light mode colors. */
:root[data-theme='light'] {
    /* crowdin colors */
    --crowdin-primaries-color: 67, 160, 71;
    --crowdin-typeface-color: 38, 50, 56;
    --crowdin-cards-color: 38, 50, 56;
    --crowdin-title-color: rgba(var(--crowdin-typeface-color), 1);

    --crowdin-gray-005: rgba(var(--crowdin-cards-color), 0.05);
    --crowdin-gray-01: rgba(var(--crowdin-cards-color), 0.1);
    --crowdin-level-0-bg: #f5f7f8;
    --crowdin-level-1-bg: #ffffff;
    --crowdin-level-2-bg: #ffffff;
    /* starlight */
    --sl-color-accent: rgba(var(--crowdin-primaries-color), 1);
    --sl-color-text-accent: rgba(var(--crowdin-primaries-color), 1);
    --sl-color-bg: var(--crowdin-level-1-bg);
    --sl-color-bg-sidebar: var(--crowdin-level-0-bg);
    --sl-color-bg-nav: var(--crowdin-level-2-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
    color: var(--crowdin-title-color);
}

/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
    color: var(--sl-color-white);
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom-color: var(--crowdin-gray-01);
        color: var(--crowdin-body-color);
    }
}

.sl-markdown-content {
    .read-more {
        margin-top: 1.5rem;
    }

    blockquote {
        color: var(--crowdin-text-muted);
        &:not(:where(.not-content *)) {
            border-left: 3px solid var(--sl-color-gray-5);
        }
    }

    img:not(.no-shadow) {
        border-radius: 10px;
        border: 1px solid var(--sl-color-gray-6);
        box-shadow: var(--sl-shadow-sm);
        margin-top: 0.5rem;

        &.crowdin-modal {
            border-radius: 2rem;
        }

        &.enterprise-modal {
            border-radius: 1rem;
        }
    }

    .inline-icon {
        display: inline;
        margin: 0 0.25rem;
        vertical-align: text-bottom;
    }

    li > .inline-icon {
        margin-bottom: -2px !important;
    }

    starlight-tabs {
        margin-top: 2rem !important;
    }
}

/* northern light */

.northern-lights {
    position: relative;
    z-index: 0
}

.northern-lights .container {
    position: relative
}

.northern-lights .aurora-borealis {
    position: absolute
}

.northern-lights--right .aurora-borealis:first-child {
    right: 12%
}

.northern-lights--right .aurora-borealis:last-child {
    right: 5%
}

.northern-lights--left .aurora-borealis:first-child {
    left: 12%
}

.northern-lights--left .aurora-borealis:last-child {
    left: 5%
}

.aurora-borealis {
    width: 50px;
    height: 50px;
    position: static;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%) rotate(-53.34deg)
    }
}

.aurora-borealis--big::before {
    width: 825px;
    height: 50px;
    filter: blur(35px);
    border-radius: 100%;
    opacity: .07
}

.aurora-borealis--middle::before {
    width: 602px;
    height: 73px;
    filter: blur(35px);
    border-radius: 602px;
    opacity: .09
}

.aurora-borealis--thin::before {
    width: 582px;
    height: 11px;
    filter: blur(12px);
    border-radius: 50%;
    opacity: .2
}

.aurora-borealis--blue::before {
    background: #1e88e5
}

.aurora-borealis--green::before {
    background: #43a047
}

.aurora-borealis--pink::before {
    background: #ab60b8
}

.aurora-borealis--white::before {
    background: #fff
}

/* Header */

.header {
    .site-title {
        min-width: 160px;
    }

    .title-wrapper {
        /* search */
        & + .sl-flex {
            justify-content: flex-end;
        }
    }
}

/* Aside (notices, alers) */

.starlight-aside {
    border-start-end-radius: .5rem;
    border-end-end-radius: .5rem;
}

/* Style Sidebar */

.sidebar-content [aria-current='page'],
.sidebar-content [aria-current='page']:hover,
.sidebar-content [aria-current='page']:focus {
    color: var(--crowdin-title-color);
    background-color: var(--crowdin-level-2-bg);
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(var(--crowdin-black), .04);
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        border-radius: 0 4px 4px 0;
        background: var(--sl-color-text-accent);
        top: 5px;
        left: 0;
        bottom: 5px;
    }
}

.sidebar-content li a {
    padding: .5em var(--sl-sidebar-item-padding-inline) .5em 1em;
    color: var(--crowdin-body-color);

    &:hover {
        color: var(--crowdin-title-color);
    }
}

.sidebar-content summary + ul {
    margin: .25rem 0;
}


/* Style Tabs */

.tab > [role='tab'] {
    padding: .5rem 1.25rem;
    border-radius: .25rem .25rem 0 0;

    &:hover {
        background-color: var(--crowdin-gray-005);
    }
}

/* Dialog */
dialog {
    background-color: var(--crowdin-level-2-bg);
}

/* Steppers */

.sl-steps > li::before {
    background-color: var(--crowdin-gray-005);
    box-shadow: inset 0 0 0 1px var(--crowdin-gray-01);
}