/* Dark mode colors. */
:root {
  /* crowdin colors */
  --crowdin-blacks: 0, 0, 0;
  --crowdin-whites: 255, 255, 255;
  --crowdin-primaries-color: 78, 183, 83;
  --crowdin-typeface-color: 255, 255, 255;
  --crowdin-cards-color: 255, 255, 255;
  --crowdin-gray-005: rgba(var(--crowdin-typeface-color), 0.05);
  --crowdin-gray-01: rgba(var(--crowdin-typeface-color), 0.12);
  --crowdin-level-0-bg: #16191d;
  --crowdin-level-1-bg: #21252b;
  --crowdin-level-2-bg: #2c3139;
  --crowdin-title-color: rgba(var(--crowdin-typeface-color), 1);
  --crowdin-body-color: rgba(var(--crowdin-typeface-color), .87);
  --crowdin-text-muted: rgba(var(--crowdin-typeface-color), .54);
  --crowdin-primary-blue-600: #1e88e5;
  /* starlight */
  /* Increase the default (45rem) content width for large screens*/
  --sl-content-width: 50rem;
  --sl-hue-blue: 207;
  --sl-nav-gap: .5rem;
  --sl-color-text: var(--crowdin-body-color);
  --sl-color-accent: rgba(var(--crowdin-primaries-color), 1);
  --sl-color-text-accent: rgba(var(--crowdin-primaries-color), 1);
  --sl-color-bg: var(--crowdin-level-0-bg);
  --sl-color-bg-nav: var(--crowdin-level-2-bg);
  --sl-color-bg-sidebar: var(--crowdin-level-1-bg);
}

/* Light mode colors. */
:root[data-theme='light'] {
  /* crowdin colors */
  --crowdin-primaries-color: 67, 160, 71;
  --crowdin-typeface-color: 38, 50, 56;
  --crowdin-cards-color: 38, 50, 56;
  --crowdin-title-color: rgba(var(--crowdin-typeface-color), 1);

  --crowdin-gray-005: rgba(var(--crowdin-cards-color), 0.05);
  --crowdin-gray-01: rgba(var(--crowdin-cards-color), 0.1);
  --crowdin-level-0-bg: #f5f7f8;
  --crowdin-level-1-bg: #ffffff;
  --crowdin-level-2-bg: #ffffff;
  /* starlight */
  --sl-color-accent: rgba(var(--crowdin-primaries-color), 1);
  --sl-color-text-accent: rgba(var(--crowdin-primaries-color), 1);
  --sl-color-bg: var(--crowdin-level-1-bg);
  --sl-color-bg-sidebar: var(--crowdin-level-0-bg);
  --sl-color-bg-nav: var(--crowdin-level-2-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
  color: var(--crowdin-title-color);
}

/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
  color: var(--sl-color-white);
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom-color: var(--crowdin-gray-01);
    color: var(--crowdin-body-color);
  }
}

.sl-markdown-content {
  blockquote {
    color: var(--crowdin-text-muted);

    &:not(:where(.not-content *)) {
      border-left: 3px solid var(--sl-color-gray-5);
    }
  }

  img:not(.no-shadow) {
    border-radius: 10px;
    border: 1px solid var(--sl-color-gray-6);
    box-shadow: var(--sl-shadow-sm);
    margin-top: 0.5rem;

    &.crowdin-modal {
      border-radius: 2rem;
    }

    &.enterprise-modal {
      border-radius: 1rem;
    }
  }

  .inline-icon {
    display: inline;
    margin: 0 0.25rem;
  }

  li > .inline-icon {
    margin-bottom: -2px !important;
  }

  starlight-tabs {
    margin-top: 2rem !important;
  }

  .text-muted {
    color: var(--crowdin-text-muted);
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.75rem + 1.25rem);
  padding: .625rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(38, 50, 56, 0.12);
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  height: auto;
}

.form-control[readonly] {
  background-color: var(--sl-color-gray-6);
  opacity: 1;
  color: var(--sl-color-white);
}

/* northern light */

.northern-lights {
  position: relative;
  z-index: 0
}

.northern-lights .container {
  position: relative
}

.northern-lights .aurora-borealis {
  position: absolute
}

.northern-lights--right .aurora-borealis:first-child {
  right: 12%
}

.northern-lights--right .aurora-borealis:last-child {
  right: 5%
}

.northern-lights--left .aurora-borealis:first-child {
  left: 12%
}

.northern-lights--left .aurora-borealis:last-child {
  left: 5%
}

.aurora-borealis {
  width: 50px;
  height: 50px;
  position: static;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(-53.34deg)
  }
}

.aurora-borealis--big::before {
  width: 825px;
  height: 50px;
  filter: blur(35px);
  border-radius: 100%;
  opacity: .07
}

.aurora-borealis--middle::before {
  width: 602px;
  height: 73px;
  filter: blur(35px);
  border-radius: 602px;
  opacity: .09
}

.aurora-borealis--thin::before {
  width: 582px;
  height: 11px;
  filter: blur(12px);
  border-radius: 50%;
  opacity: .2
}

.aurora-borealis--blue::before {
  background: #1e88e5
}

.aurora-borealis--green::before {
  background: #43a047
}

.aurora-borealis--pink::before {
  background: #ab60b8
}

.aurora-borealis--white::before {
  background: #fff
}

/* Header */

.header {
  .site-title {
    min-width: 160px;
  }

  .title-wrapper {
    /* search */

    & + .sl-flex {
      justify-content: flex-end;
    }
  }
}

/* Aside (notices, alerts) */

.starlight-aside {
  border-start-end-radius: .5rem;
  border-end-end-radius: .5rem;
}

/* Style Sidebar */

.sidebar-content [aria-current='page'],
.sidebar-content [aria-current='page']:hover,
.sidebar-content [aria-current='page']:focus {
  color: var(--crowdin-title-color);
  background-color: var(--crowdin-level-2-bg);
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgba(var(--crowdin-blacks), .04);
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    border-radius: 0 4px 4px 0;
    background: var(--sl-color-text-accent);
    top: 5px;
    left: 0;
    bottom: 5px;
  }
}

.sidebar-content li a {
  padding: .5em var(--sl-sidebar-item-padding-inline) .5em 1em;
  color: var(--crowdin-body-color);

  &:hover {
    color: var(--crowdin-title-color);
  }
}

.sidebar-content summary + ul {
  margin: .25rem 0;
}

/* Style Tabs */

.tab > [role='tab'] {
  padding: .5rem 1.25rem;
  border-radius: .25rem .25rem 0 0;

  &:hover {
    background-color: var(--crowdin-gray-005);
  }
}

/* Dialog */

dialog {
  background-color: var(--crowdin-level-2-bg);
}

/* Steppers */

.sl-steps > li::before {
  background-color: var(--crowdin-gray-005);
  box-shadow: inset 0 0 0 1px var(--crowdin-gray-01);
}

/* logo preview */

.logo-preview {
  margin: 20px 0;
  border-radius: .25rem;
  padding: 1.5rem
}

.logo-preview .distorted {
  width: 80%;
  height: 60px;
  margin: 0 auto !important
}

.logo-preview.gradient {
  background: linear-gradient(115deg, #43a047 0%, #1e88e5 100%)
}

.logo-preview.dark-gray {
  background: #455A64
}

.logo-preview.gray {
  background: #eceff1;
}

.logo-preview.transparent {
  background-color: #eceff1;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("/images/logos/sheet-bg.svg");
  background-position: 0 0,0 0;
  background-size: auto,10px
}

.logo-preview.dark {
  background: #263238
}

.logo-preview.dark,.logo-preview.dark h4,.logo-preview.dark p,.logo-preview.dark span,.logo-preview.dark a {
  color: #fff
}

.logo-preview.badges {
  display: grid
}

.logo-preview.photo {
  position: relative;
  background-image: url("/images/logos/examples/unsplash_KWKJ9xDJX6s.png");
  background-repeat: no-repeat;
  background-size: cover
}

.logo-preview.photo--busy {
  background-image: url("/images/logos/examples/unsplash_fotKKqWNMQ4.png")
}

.logo-preview.photo:not(.photo--busy) img {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  max-width: 150px
}

.logo-preview.white {
  border: 1px solid #dee2e6;
  background: #fff;
  color: rgba(40,44,52,0.87)
}

.logo-preview.color-preview {
  border-radius: .25rem
}

.logo-preview.logos-2,.logo-preview.logos-4 {
  display: grid;
  grid-gap: 48px;
  justify-content: center;
  align-items: center;
  justify-items: center
}

.logo-preview.logos-2 {
  grid-template-columns: repeat(2, 1fr)
}

.logo-preview.logos-4 {
  grid-template-columns: repeat(2, 1fr)
}

@media (min-width: 768px) {
  .logo-preview.logos-4 {
    grid-template-columns:repeat(4, 1fr)
  }
}

.main-logo-content {
  max-width: 310px
}

.logo-application .logo-preview {
  display: flex;
  align-items: center;
  min-height: 222px
}

.square-preview {
  height: 0;
  padding: 0;
  padding-bottom: 100%;
  position: relative
}

.square-preview img {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.icon-preview {
  position: relative
}

.icon-preview .show-code {
  opacity: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
  transition: opacity .2s ease;
  background: var(--sl-color-accent);
  color: var(--sl-color-black);
  border-radius: .25rem;
}

.icon-preview:hover .show-code {
  opacity: 1
}

.icon-preview.white {
  background: rgba(236,239,241,0.54)
}

.icon-preview img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 48px;
  transform: translate(-50%, -50%)
}

.all-logos__item--full img {
  width: 214px
}

@media (max-width: 767.98px) {
  .all-logos__item--full img {
    width:200px
  }
}

.all-logos__item--full-stacked img {
  width: 170px
}

@media (max-width: 767.98px) {
  .all-logos__item--full-stacked img {
    width:160px
  }
}

.all-logos__item--symbol img {
  width: 160px
}

@media (max-width: 767.98px) {
  .all-logos__item--symbol img {
    width:120px
  }
}

.examples-spacing .logo-preview img {
  max-height: 222px;
  width: auto;
}

.dos-donts-list {
  list-style: none;
  padding: 0;
  margin: 0
}

.dos-donts-list .item {
  margin: .5rem 0;
  position: relative;
  padding-left: 34px
}

.dos-donts-list .item:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: '';
  background-image: url("/images/logos/examples/do.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: .5rem;
  position: absolute;
  left: 0;
  top: 2px;
  overflow: hidden
}

.dos-donts-list .item--dont:before {
  background-image: url("/images/logos/examples/dont.svg")
}

.color-usage .btn-icon-only {
  padding: .625rem;
  background: transparent;
}


