/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
    color: var(--sl-color-white);
    text-decoration: none;

    &:hover {
        color: var(--sl-color-gray-3);
    }
}

/* Style for Markdown images */
.sl-markdown-content img {
    border-radius: 10px;
    border: 1px solid var(--sl-color-gray-6);
    box-shadow: var(--sl-shadow-sm);
    margin-top: 0.5rem;
}
